body {
  background-color: whitesmoke;
  padding: 10px;
}

.domain-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.domain-row a {
  cursor: pointer;
  color: rgb(227, 113, 81);
}
