:root {
  --main-color: rgb(103, 186, 87);
  --main-dark-color: rgb(55, 163, 61);
  --warning-color: rgb(233, 130, 101);
  --warning-dark-color: rgb(227, 113, 81);
}

html,
body {
  background-color: #eee;
  padding: 0px;
  margin: 0px;
}

main {
  padding: 0px;
  padding-top: 10px;
  width: 280px;
  text-align: center;
  color: #333;
}

.title {
  margin: 0;
  margin-top: 2px;
  font-size: 14px;
}
.title em {
  font-size: 10px;
}

.logo {
  margin: 10px;
}

.text-success {
  color: var(--main-dark-color);
}
.text-warning {
  color: var(--warning-dark-color);
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

/** Toggle slider */
/* Container */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hides the default checkbox*/
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--warning-color);
  transition: 0.4s;
}

/* The circle of the slider */
.slider:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

/* Transformation of the slider when we check the input */
input:checked + .slider {
  background-color: var(--main-color);
}
input:checked + .slider:before {
  transform: translateX(26px);
}

/* Avoid transitioning the slider towards the initial state, preload class will be removed after page load */
.preload {
  animation-duration: 0s !important;
  transition: background-color 0s !important;
}
.preload:before {
  animation-duration: 0s !important;
  transition: transform 0s !important;
}

/** Bottom row for additional actions */
.actions-row {
  display: flex;
  background-color: white;
  border-top: 2px solid grey;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
}
.actions-row p {
  padding: 0;
  margin: 0;
}
.action-column {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
